# MacOs Finder File
.DS_STORE

# Rest Test Files
*.rest

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js Package && Distribution Directories
node_modules
dist
dist-ssr
build
build-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env