// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.login-signup-right-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-left-container{

}
